<div id="divWeatherMain">
    <div class="weatherRow" style="font-size: 24px">
        <h3> Enter Country Name: </h3>
        <div class="input">  
            <input type="text" #txt> 
            <button class="button" (click)="getCityName(txt)">Search</button>
        </div>
    </div>
    <div class="weatherRow" style="font-size: 24px">Country Name: {{WeatherData.name}}</div>
    <div class="weatherRow" style="font-size: 24px">Temperature: {{WeatherData.temp_celcius}}</div>
    <div class="weatherRow" style="font-size: 24px;">Humidity: {{WeatherData.main.humidity}}</div>
    <div class="weatherRow" style="font-size: 24px;">Wind Speed: {{WeatherData.wind.speed}}</div>
    <div class="weatherRow" style="font-size: 24px;">Wind Deg: {{WeatherData.wind.deg}}</div>
    <div class="weatherRow" style="font-size: 24px;">Wind Gust: {{WeatherData.wind.gust}}</div>
</div>
